.dropdown-menu {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  position: relative;
}
.dropdown-menu > .material-icons-outlined {
  font-size: 1.3rem;
}
.dropdown-menu__active-option {
  font-weight: 500;
}
.dropdown-menu__options {
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  gap: 1.5px;
  border-radius: 0.15rem;
  overflow: hidden;
  filter: drop-shadow(0px 0px 3px rgb(178, 178, 178));
  position: absolute;
  right: 6px;
  top: 27px;
}
.dropdown-menu__option {
  transition: 0.15s;
  background-color: white;
  font-weight: 500;
  padding: 0.3rem 0.6rem;
}
.dropdown-menu__option:hover {
  transition: 0.15s;
  background-color: lightgrey;
}
